## Pricing data

In [7]:
from datetime import datetime
import pandas_datareader.data as web


start = datetime(2010, 1, 1).date()
end = datetime.now().date()
start, end

(datetime.date(2010, 1, 1), datetime.date(2020, 6, 14))

In [10]:
df = web.DataReader("MSFT", "yahoo", start, end)

In [11]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2009-12-31,30.990000,30.480000,30.980000,30.480000,31929700.0,23.858992
2010-01-04,31.100000,30.590000,30.620001,30.950001,38409100.0,24.226894
2010-01-05,31.100000,30.639999,30.850000,30.959999,49749600.0,24.234720
2010-01-06,31.080000,30.520000,30.879999,30.770000,58182400.0,24.085989
2010-01-07,30.700001,30.190001,30.629999,30.450001,50559700.0,23.835503
...,...,...,...,...,...,...
2020-06-08,188.550003,184.440002,185.940002,188.360001,33211600.0,188.360001
2020-06-09,190.699997,187.259995,188.000000,189.800003,29783900.0,189.800003
2020-06-10,198.520004,191.009995,191.130005,196.839996,43872300.0,196.839996
2020-06-11,195.759995,186.070007,193.130005,186.270004,52854700.0,186.270004
2020-06-12,191.720001,185.179993,190.539993,187.740005,43345700.0,187.740005

In [16]:
import pandas as pd
import pandas_datareader.data as web


def get_pricing_data(ticker, start, end) -> pd.DataFrame:
    return web.DataReader(ticker, "yahoo", start, end)

In [17]:
get_pricing_data("MSFT", start, end)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2009-12-31,30.990000,30.480000,30.980000,30.480000,31929700.0,23.858992
2010-01-04,31.100000,30.590000,30.620001,30.950001,38409100.0,24.226894
2010-01-05,31.100000,30.639999,30.850000,30.959999,49749600.0,24.234720
2010-01-06,31.080000,30.520000,30.879999,30.770000,58182400.0,24.085989
2010-01-07,30.700001,30.190001,30.629999,30.450001,50559700.0,23.835503
...,...,...,...,...,...,...
2020-06-08,188.550003,184.440002,185.940002,188.360001,33211600.0,188.360001
2020-06-09,190.699997,187.259995,188.000000,189.800003,29783900.0,189.800003
2020-06-10,198.520004,191.009995,191.130005,196.839996,43872300.0,196.839996
2020-06-11,195.759995,186.070007,193.130005,186.270004,52854700.0,186.270004
2020-06-12,191.720001,185.179993,190.539993,187.740005,43345700.0,187.740005